/* MyVideoPlayer.css */

/* .vjs-has-started .vjs-control-bar, .vjs-audio-only-mode .vjs-control-bar {
  background-color: #FFF;
  height: 60px;
}

.video-js .vjs-play-control {
  cursor: pointer;
  color: #000;
}

.video-js .vjs-mute-control {
  cursor: pointer;
  flex: none;
  color: #000;
}

.video-js .vjs-progress-control {
  color: #000;
} */